header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    .header__logo img{
        width: 100px;
        height: auto;
    }
    }
.header__ul{
    display: flex;
    gap: 50px;
    color: rgb(158, 197, 158);
    list-style:none;
    }
    li {
    list-style:none;
        }
.btn {
    background-color: black;
    border: none;
    color: rgb(158, 197, 158);
    padding: 5px 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    }
.btn:hover {
    background-color: #3e8e41;
    color: white;
    border-radius: 15px;
    }